Repository kumaraditya303/umarkdown, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, test, dependencies, build

.github/labeler.yml:

docs: docs/**/*

test: tests/**/*

dependencies: requirements.txt

build:
  - scripts/**/*
  - setup*

test: Test with Tox
  .github/workflows/CI.yml
  .gitignore
  MANIFEST.in
  setup.cfg
  setup.py
  tox.ini
Labels: build

test: Test with Tox (#23)
  .github/workflows/CI.yml
  .gitignore
  MANIFEST.in
  setup.cfg
  setup.py
  tox.ini
Labels: build

build: Build with pep517
  .github/workflows/CI.yml
  .github/workflows/python-publish.yml
  pyproject.toml
  requirements.txt
  scripts/manylinux.sh
  setup.py
  tox.ini
Labels: dependencies, build

build: Build with pep517 (#27)
  .github/workflows/CI.yml
  .github/workflows/python-publish.yml
  pyproject.toml
  requirements.txt
  scripts/manylinux.sh
  setup.py
  tox.ini
Labels: dependencies, build

chore: fix benchmark url
  README.md
Labels: none

test: Update benchmarks
  docs/images/benchmarks.svg
Labels: docs

fix: acquire gil during writing to disk
  .pre-commit-config.yaml
  setup.py
  umarkdown/_internal.c
Labels: build

fix: acquire gil during writing to disk (#45)
  .pre-commit-config.yaml
  setup.py
  umarkdown/_internal.c
Labels: build

test: Update benchmarks
  docs/images/benchmarks.svg
Labels: docs
